<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<div class="tabbable">
  
  <%= render :partial => "projects/navigation" %>

  <!-- tabs -->
  <div class="tab-content">
    
    <!-- backlog -->
    <div class="tab-pane active" id="tab_backlog">
      <%= render template: 'backlogs/index' %>
      <%= link_to_modal "Adicionar backlog", new_project_backlog_path(@project.id), :class => "btn btn-primary"%>
    </div>
    
    <!-- sprints -->
    <div class="tab-pane" id="tab_sprints">
      <%= render template: 'sprints/index' %>
      <%= link_to_modal "Adicionar sprint", new_project_sprint_path(@project.id), :class => "btn btn-primary"%>
    </div>

    <!-- members -->
    <div class="tab-pane" id="tab_members">
      <p>Membros do time</p>
    </div>
  
  </div>

</div>

<!-- modal create backlog -->
<div id="create-backlog" style="display: none;">
  <%= render template: 'backlogs/new' %>
</div>

<%= javascript_tag do %>

  $(document).ready(function() {
    $("#backlogs").tableDnD({
      onDrop: function(table, row) {
        $.ajax({
          type: "POST",
          url: "<%= sort_backlogs_project_path @project %>",
          processData: false,
          data: $.tableDnD.serialize(),
          success: function(msg) {
          }
        });
      }
    });
  });

<% end %>
