<%- model_class = Backlog -%>
<% @active = 'backlogs' %>

<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<%= render :partial => 'projects/navigation' %>

<table id="backlogs" class="table table-striped">
  <thead>
    <tr>
      <th>Backlog</th>
      <th>Data de criação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @backlogs.each do |backlog| %>
      <tr id="<%= backlog.id %>">
        <td><%= backlog.title %></td>
        <td><%= to_br_date(backlog.created_at) %></td>
        <td>
          <%= link_to_modal "Editar", edit_project_backlog_path(backlog.project_id, backlog.id), :class => "btn btn-primary" %>
          <%= link_to t('.destroy', :default => "Deletar"),
                      project_backlog_path(backlog.project.id, backlog.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => 'Você tem certeza que deseja deletar este backlog?') },
                      :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_modal "Adicionar backlog", new_project_backlog_path(@project.id), :class => "btn btn-primary"%>

<%= javascript_tag do %>

  $(document).ready(function() {
    $("#backlogs").tableDnD({
      onDrop: function(table, row) {
        $.ajax({
          type: "POST",
          url: "<%= sort_backlogs_project_path @project %>",
          processData: false,
          data: $.tableDnD.serialize(),
          success: function(msg) {
          }
        });
      }
    });
  });

<% end %>
